/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
tailwind.config.js
package.json
database/migrations/2014_10_12_200000_add_two_factor_columns_to_users_table.php
database/migrations/2014_10_12_000000_create_users_table.php
config/jetstream.php
config/fortify.php
composer.lock
composer.json
app/Providers/FortifyServiceProvider.php
app/Actions/Fortify/UpdateUserProfileInformation.php
app/Actions/Fortify/UpdateUserPassword.php
app/Actions/Fortify/ResetUserPassword.php
app/Actions/Fortify/PasswordValidationRules.php
app/Actions/Fortify/CreateNewUser.php
composer.lock
